<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>CAO ZUO CHENG GONG</title>
        <meta name="description" content="XPay">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .main{
                margin-top: 40px;
                text-align: center;
            }
            .text{
                margin-top: 10px;
            }
        </style>
    </head>

    <body>
        
            <div class="main">
                <img src="https://www.szlib.org.cn/index.php?client=szlib&isbn=9781451639612%20:/cover" width="50">
                <div class="text">Hello World！</div>
                <div class="text">Paid successfully</div>
            </div>
    </body>
</html>
